<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scnu.hmis.mapper.InpatientPrescriptionMapper">

    <resultMap id="baseResultMap" type="cn.edu.scnu.hmis.entity.InpatientPrescription">
        <id column="id" property="id"/>
        <result column="record_id" property="recordId"/>
        <result column="total_drug_price" property="totalDrugPrice"/>
    </resultMap>

    <select id="findAll" resultMap="baseResultMap">
        SELECT id, record_id, total_drug_price
        FROM inpatient_prescription
    </select>

    <select id="findById" resultMap="baseResultMap">
        SELECT id, record_id, total_drug_price
        FROM inpatient_prescription
        WHERE id = #{id}
    </select>

    <select id="findByRecordId" resultMap="baseResultMap">
        SELECT id, record_id, total_drug_price
        FROM inpatient_prescription
        WHERE record_id = #{recordId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO inpatient_prescription (record_id, total_drug_price)
        VALUES (#{recordId}, #{totalDrugPrice})
    </insert>

</mapper>
