<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scnu.hmis.mapper.PrescriptionMapper">

    <resultMap id="baseResultMap" type="cn.edu.scnu.hmis.entity.Prescription">
        <id column="id" property="id"/>
        <result column="visit_id" property="visitId"/>
        <result column="total_drug_price" property="totalDrugPrice"/>
    </resultMap>

    <select id="findAll" resultMap="baseResultMap">
        SELECT id, visit_id, total_drug_price
        FROM prescription
    </select>

    <select id="findById" resultMap="baseResultMap">
        SELECT id, visit_id, total_drug_price
        FROM prescription
        WHERE id = #{id}
    </select>

    <select id="findByVisitId" resultMap="baseResultMap">
        SELECT id, visit_id, total_drug_price
        FROM prescription
        WHERE visit_id = #{visitId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO prescription (visit_id, total_drug_price)
        VALUES (#{visitId}, #{totalDrugPrice})
    </insert>

</mapper>
